.name{
    color: red;
}
.section{
    width: 91.6666%;
    display: flex;
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
.section2{
    width: 50px;
    position: sticky;
    margin-top: 18%;

}

